.css-yk16xz-control {
  background-color: #ecf0f3 !important;
  border: 1px solid #d1d9e6 !important;
  outline: none !important;
  box-shadow: inset 3px 3px 6px #d0d2d9, inset -3px -3px 6px #ffffff !important;
}

.css-1pahdxg-control {
  background-color: #ecf0f3 !important;
  border: 1px solid #d1d9e6 !important;
  outline: none !important;
  box-shadow: inset 3px 3px 6px #d0d2d9, inset -3px -3px 6px #ffffff !important;
}

.css-26l3qy-menu {
  background-color: #ecf0f3 !important;
  border: none !important;
  outline: none !important;
  box-shadow: -3px 3px 7px #ffffff, 3px 3px 5px #ceced1 !important;
}
